.container .A, .B, .D{
	text-align: center;
	padding: 50px;
	border: 1px solid rgb(241 243 243);
	background-color: #ffad33;
	margin-bottom: 10px;
	border-radius: 10px;
}
.A {
	background-size: 1150px 700px;
	background-image: url("../Imagenes/piano.jpg");
	color: black;
}
.B {
	background-size: 1150px 700px;
	background-image: url("../Imagenes/guitarra.jpg");
	color: white;
}