.container {
	text-align: center;
	padding: 50px 150px 10px;
	border: 1px solid rgb(241 243 243);
	margin-bottom: 10px;
	border-radius: 10px;
}
label{
	margin-bottom: 19px;
	text-align: left;
}
.preguntas{
	text-align: left;
}